<template>
    <div class="center">
        <h1>{{ Counter }}</h1>
        <button v-on:click.right="counterUp">Counter Up</button>
        <button v-on:click.middle="counterDown">Counter Down</button>
    </div>
</template>

<script>
export default {
    name:"CounterView",
    data() {
        return {
            counter:0
        }
    },
    methods: {
        counterUp(){
            this.counter++
        },
        counterDown(){
            this.counter--
        }
    },
}
</script>

<style>
    h1{
        color: aquamarine;
    }
    .center{
        text-align: center;
    }
</style>