<template>
    <div>
        <h1>{{ msg }}</h1>
        <hr />
        <!--<h1>{{ name }} {{ position }}</h1>
        <button @click="changeName(45), changePosition('CEO')">Change name</button>-->
        <p>name:{{ name }}, password:{{ password }}</p>
        <input type="text" @input="getInput($event,'Zuckagerg')">
        <input type="text" @input="getPassword">
    </div>
</template>

<script>
    export default {
        name:"HandleView",
        data:()=> {
            return {
                msg:'Event Handlling',
                name:'Mark Zuckaberg',
                position:'Developer',
                password:''
            }
        },
        methods: {
            changeName(ageParams) {
                this.name = 'Elon Mark' + ", Age:" + ageParams
            },
            changePosition(positionNew) {
                this.position = positionNew
            },
            getInput(event,lastname) {
                this.name = event.target.value + " " + lastname
                console.log(event)
            },
            getPassword(event){
                this.getPassword = event.target.value
                console.log(event)
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>