<template>
  <div>
    <h1>{{ count }}</h1>
    <!--<Handle></Handle>-->
    <Counter />
  </div>
</template>

<script>
//import Handle from './components/Handle.vue'
import Counter from './components/Counter.vue';
export default{
  components: { 
  name:'App',
  components:{
    //Handle,
    Counter,
  },
}
}
</script>

<style>

</style>